@model ISCAttendanceMgmtSystem.COM.Models.ChangePasswordViewModelSd
@{
    ViewBag.Title = "パスワード変更";
}
@Styles.Render("~/Content/css/c-pass")
@using (Html.BeginForm("ChangePassword", "ChangePassword", FormMethod.Post, new { @class = "change_form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <section id="changePassword">
                    <div class="change_form_top">
                        <h1>パスワード変更</h1>
                        <p class="operation1">旧パスワード、新パスワードをご入力の上、</p>
                        <p class="operation2">「変更」ボタンをクリックしてください。</p>
                        <p class="terms">
                            必ず8文字以上で英字(大文字)、英字(小文字)、数値、記号の中から<br>
                            3種類使用してください!
                        </p>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="change_input_field">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "pass-input", @placeholder = "旧パスワード" })
                    </div>
                    <div class="change_input_field">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "pass-input", @placeholder = "新パスワード" })
                    </div>
                    <div class="change_input_field">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "pass-input", @placeholder = "新パスワード確認用" })
                    </div>

                    <button type="button" name="DmyChange" value="パスワードの変更" class=" btn-pass" id="dmychange">変更</button>
                </section>
            </div>
        </div>
    </div>
    @*隠しボタンエリア*@
<div style="height:0px;">
    <button type="submit" name="Change" id="changebutton" value="パスワードの変更" class="btn invisible">パスワードの変更</button>

</div>

    @Scripts.Render("~/Scripts/js/cpw")

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
